
Congratulations!! The deployment of Jenkins is now complete.

You can access the instance using your browser by navigating to:
http://{{ hostvars['controller']['ansible_facts']['default_ipv4']['address'] }}:8080

